*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
.carousel-container{
    width: 680px;
    height: 344px;
    position: relative;
}
.carousel-imgs img{
    display: none;
}
.carousel-imgs .selected{
    display: block;
}
.carousel-tabs{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.carousel-tabs li, .carousel-arrows span{
    width: 20px;
    height: 20px;
    background: #000000;
    color: #fff;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    float: left;
    margin-right: 5px;
}
.carousel-tabs .selected{
    background: orange;
}
.carousel-arrows{
    position: absolute;
    left: 10px;
    bottom: 10px;
}